@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  background-color: #e7e7e7;
}

/* Light Mode Review Card */
.light-mode .review-card {
  background-color: #ffffff; /* White background for light mode */
  color: blueviolet; /* Black text for light mode */
  border: 1px solid #e0e0e0; /* Optional border */
}

/* Dark Mode Review Card */
.dark-mode .review-card {
  background-color: #000000; /* Black background for dark mode */
  color: #ffffff; /* White text for dark mode */
  border: 1px solid #444444; /* Optional border */
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.description-cell {
  white-space: normal; /* Allows text to wrap */
  overflow: hidden; /* Hides overflow for neatness */
  text-overflow: ellipsis; /* Adds ellipsis if text is too long */
  max-height: 4.5em; /* Set maximum height (adjust as needed) */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  font-size: 14px; /* Adjust font size if needed */
  line-height: 1.5; /* Adjust line spacing for readability */
}
